.container {
  display: block;
  position: absolute;
  left: 0;
  height: 100vh;
  width: 20%;
  background: linear-gradient(to right, #a2a2a2 0%, #b9b9b9 10%, #f2f2f2 100%);
}
.main {
  display: block;
  position: relative;
  padding: 1rem 1rem;
  margin: 0 auto;
}
.main p {
  color: #2b2b2b;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  margin-left: 1.5rem;
}
.main p:hover {
  color: #0070f3;
}
.main h1 {
  color: #2b2b2b;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-left: 0.5rem;
}
.main h2 {
  color: #2b2b2b;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
  cursor: pointer;
}
.main h2:hover {
  color: #0070f3;
}
.toggle_btn {
  position: relative;
  display: block;
}

.arrow {
  position: absolute;
  top: 60%;
  left: -6.5%;
}

.arrow::before,
.arrow::after {
  position: relative;
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background: #2b2b2b;
  transition: 0.3s ease-in-out;
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  left: 6px;
  top: -1px;
  transform: rotate(-45deg);
}

.active {
  transform: rotate(0deg);
  margin-left: -2px;
}
.inactive {
  transform: rotate(-90deg);
}
