html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  background-clip: none;
}
a:hover > h1,
a:hover > h2,
a:hover > p {
  color: #c7c7c7;
  cursor: pointer;
}
button {
  background-clip: none;
}
* {
  box-sizing: border-box;
}
.container {
  padding: 0 2rem;
  margin: 0 auto;
}
